{% extends "AppProyectoFinal/baseHome.html" %}

{% load static %}

{%block content%}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active">
            <img src="{% static 'AppProyectoFinal/img/slide/slide-1.jpg' %}" alt="">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Academia TopTrading <span>te da la bienvenida</span></h2>
                <p class="animate__animated animate__fadeInUp">Podras navegar por nuestro sitio y comenzar a formar parte de nuestra comunidad, que estas esperando!</p>
                
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item">
            <img src="{% static 'AppProyectoFinal/img/slide/slide-2.jpg' %}" alt="">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Webinars gratis</h2>
                <p class="animate__animated animate__fadeInUp">Empieza por realizar nuestros webinars gratuitos para empezar a ser parte de este maravilloso mundo </p>
                
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item">
            <img src="{% static 'AppProyectoFinal/img/slide/slide-3.jpg' %}" alt="">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Visita nuestra tienda</h2>
                <p class="animate__animated animate__adeInUp">En nuestra tienda podras armar tu carrera de trader con nuestros cursos empieza ahora!</p>
                
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon ri-arrow-left-line" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon ri-arrow-right-line" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

{% endblock %}

