{% extends 'AppProyectoFinal/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="section-title">
    <span>Login</span>
    <h2>Login</h2>     
</div>

<form action="" method="post">

    {% csrf_token %}
<div style="width: 15%; margin: auto;">

    {{form|crispy}}

    <p></p>

    <button type="submit" class="btn btn-success">Login</button>
    <p></p>
{% if messages %}

    {% for mensaje in messages %}
    <span style="color: red;">
        {{mensaje}}
    </span>
    {% endfor %}

{% endif %}
</div>
<p></p>
</form>  
{% endblock %}